{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="https://avatars.githubusercontent.com/u/38323665" alt="" />
  <h1>Hey Visitor! I'm Gnanendar Reddy</h1>

  <div class="content-text">
    <h2>Backend Engineer</h2>
    <p>
      Can communicate in JAVA, C++, Python, C, and Go<br>I create Web Services and Products
    </p>
  </div>
  <a href="#footer" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Special Skills</h2>
    <div class="container">
      <table style="text-align: center;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cogs"></i></h2>
              <h4>System design</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-bug"></i></h2>
              <h4>Algorithms and Data Structures</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-code"></i></h2>
              <h4>CLI tools</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-server"></i></h2>
              <h4>Networking and Security</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cloud"></i></h2>
              <h4>Cloud</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-linux"></i></h2>
              <h4>Linux</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>    
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Recent Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <div class="container">
              <h3>Machine Coding projects</h3>
              <p style="text-align: justify;">Machine coding projects are bunch of cool interesting command line projects built in C++ and Python 
                programming languages. 
                The current projects include 2048 game, splitwise, chess_validator, basic message queue.
                Planning to add more cool projects in the future.
                Do checkout this repository.
                </p>
              <a href="https://github.com/gnany07/Machine_Coding" class="btn btn-secondary">View Project <i class="fab fa-github"></i></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{{url_for('projects_page')}}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}